body{
    margin:0;
    width: 100%;
    font-family: sans-serif;
    text-align: left;
    background-color: #2e2e2e;
}
.caja>h1{
    font-size:2em ;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 7px ;
    border-bottom: 3px solid #012;
}
.caja{
    box-sizing: border-box;
    margin:auto;
    margin-top: 30vh;
    width: 13vw;
    min-width: 265px;
    max-width: 375px;
    padding:0.01vh 25px;
    color:#012;
    background: linear-gradient(#17f,#39f);
    border-radius: 7px;
    box-shadow: 0 0 6px #000;
}
.boton {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-left: 49px;
  }
  .boton:hover {
    background-color: #a04545;
    transform: scale(1.05);
  }
  .boton:active {
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }