*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin:0px;
}
html, body {
  height: 100%;
  margin: 0;
  background-color: #e4e4e4;
}
h1{
  color: red;
  font-size:40px;
  font-family:Impact;
  font-weight: normal;
}
.box{
  background: transparent url("../images/casinotoqueverde.jpg") top no-repeat scroll;
  background-size: 100vw;
  margin-top:0;
  position: relative;
  border-top: 2px solid #012;
}
.destacar{
  color: red;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  text-align: right;
  margin: 6vw 2vw;
  position: relative;
}
.destacar:last-child{
  position: relative;
  
}
.targeta{
  position: relative;
  max-width: 60vw;
  margin-top:50px;
  padding: 20px;
  background-color: #eee;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  line-height: 1.6;
  box-shadow: 0 0 10px #222;
}
.targeta h1 {
  font-size: 28px;
  margin-bottom: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
.info_pequena{
  color: rgb(0, 0, 0);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 1;
  line-height: 10%;
}
.info_pequena_importante{
  color: rgb(0, 0, 0);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 30%;
}

.intro p {
  margin-bottom: 12px;
}
.intro span {
  font-size: 10px;
  text-align: right;

}

.intro span {
  font-size: 10px;
  text-align: right;

}